.about-me {
    padding: 48px 72px 16px 72px;
}

.about-me .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.about-me .picture {
    flex-basis: 20%;
}

.about-me .picture:nth-child(1) {
    padding: 24px 0 0 0;
}

.about-me .picture:nth-child(2) {
    padding: 72px 0 0 0;
}

.about-me .content {
    flex-basis: 40%;
    flex-grow: 1;
}

.about-me .content div:nth-child(1) {
    margin-bottom: 48px;
}

.about-me .content h2 {
    margin-bottom: 8px;
    font-family: var(--heading-font-family);
    color: var(--section-subheading-text-color);
    text-align: left;
}

@media (max-width: 750px) {
    .about-me .content {
        flex-basis: 50%;
        flex-grow: 1;
    }
}

@media (max-width: 600px) {
    .about-me .picture {
        padding: 8px 8px 0 0 !important;
    }
}
