.header {
    padding: 48px 0;
    background-color: var(--background-color-dark-green);
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header .container .picture-container {
    flex: 5;
    text-align: left;
}

.header .container .picture-container img {
    background-color: var(--background-color-creamy-white);
    padding: 12px 60px 12px 0;
    height: 300px;
    width: 300px;
    border-radius: 0 2px 2px 0;
}

.header .container .content {
    flex: 5;
    text-align: left;
}

.header .container .content h1 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 8px;
    color: var(--header-main-text-color);
    font-family: var(--heading-font-family);
    font-size: var(--font-size-extra-large);
    font-weight: 400;
}

.header .container .content h1 .name {
    color: var(--header-highlight-text-color);
    font-weight: 500;
}

.header .container .content p {
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: var(--heading-font-family);
    color: var(--header-main-text-color);
    font-size: var(--font-size-medium);
    font-weight: 400;
}

@media (min-width: 900px) {
    .header .container {
        gap: 0;
    }
}

@media (min-width: 700px) {
    .header .container .picture {
        flex: 3;
    }
    .header .container .content {
        flex: 7;
    }
}

@media (max-width: 600px) {
    .header .container .content h1,
    .header .container .content p {
        text-align: center;
    }
}
